@tailwind base;
@tailwind components;
@tailwind utilities;

/* my framework start */
.link-hover {
    transition: all 0.1s ease-in-out;
}

.link-hover:hover {
    background-color: #F6F6F6;
}

/* my framework end */

svg {
    transition: all 0.1s ease-in-out;
}

svg:hover {
    transform: scale(1.1);
}

.links {
    left: -100%;
    transition: all 0.2s ease-in-out;
}

.links.active {
    left: 0;
}